.root{
    margin-top: 20px;
}

.textareaStyle{
    margin-right:30px;
}

.formStyle{
    margin-top: 500px;
}

.timeStyle{
    text-align:right;
}

/* .msgStyle{
    border-style: solid;
    border-width: 5px;
} */

